* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    }

    .pt-20{
        padding-top: 20px;
    }
    .pb-10{
        padding-bottom: 10px;
    }

    .bg-grey{
        background-color: rgba(222,222,222,0.8);
    }
    .bg-white{
        background-color: rgba(255,255,255,1);
    }
/* ------ Header CSS --------*/
    header {
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.852);
    }

    .logocon1 {
    width: 30%;
    color: white;
    padding: 6px 10px;
    }

    .menu {
    display: flex;
    list-style: none;
    }
    ul{
        margin-bottom: 0;
    }

    li {
    padding: 6px 8px;
    border-right: 1px solid white;
    }

    li:last-child {
    border: none;
    }
    a {
    color: white;
    text-decoration: none;
    }

    a:hover {
    color: #0a58ca;
        text-decoration: none;
    }

    #logo {
    float: left;
    height: 100px;
    }

    #logo img {
    display: block;
    height: 100%;
    width: auto;
    margin-bottom: 100px;
    margin-right: auto;
    padding-top: -8px;
    padding-left: 50px;
    padding-right: 10px;
    }

    /* ------Navigation CSS --------*/
    nav li {
    position: relative;
    }

    .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 240px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }

    .dropdown-menu a {
    display: block;
    padding: 4px 0;
    }

    nav li:hover .dropdown-menu {
    display: block;
    }

    nav ul {
    display: flex;
    list-style: none;
    }
    nav li {
    padding: 30px 15px;
    font-size: 20px;
    font-weight: bold;
    }
     .dropdown-menu a {
     font-weight: normal;
}
    nav a {
    display: block;
    color: #333;
    text-decoration: none;
    position: relative;
    }

    #main-menu {
    display: flex;
    list-style: none;
    position: relative;
    }

    #main-menu a {
    display: block;
    color: #333;
    text-decoration: none;
    position: relative;
    }

    #main-menu li:hover .dropdown-menu {
    display: block;
    }
    .toppic {
    position: relative;
    }

    .toppic a::after {
    content: "";
    height: 3px;
    width: 0px;
    background: #0a58ca;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: all 0.7s ease-in-out;
    }

    .toppic a:hover::after {
    width: 50%;
    transform: translate(100%);
 }
/* ------ Search bar CSS --------*/
    form.example input[type=text] {
    margin-top: -7px;
    padding: 5px;
    font-size: 17px;
    border: 1px solid #000;
    float: left;
    width: 80%;
    background-color: transparent;
    border-radius: 3px;
    margin-right: 3px;
    }
    form.example button {
    margin-top: -7px;
    float: left;
    width: 15%;
    padding: 5.8px;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
    background-color: transparent;
    }
    form.example button i{
        color: #000;
    }
    form.example button :hover {
        color: #ccc
    }

    form.example button i:hover {
        color: #0a58ca;
    }

    form.example::after {
    content: "";
    clear: both;
    display: table;
    }
     .toppiccon{
        color: #191970bc;
    }
     .be-trai {
    float: left;
    width: 50%;
    height: 200px;
    padding-right: 0px
    }
    .be-gai {
    float: left;
    width: 50%;
    height: 200px;
    }
/* icon */
.icon{
    margin-top: 23px;
    font-size: 30px;
}
/* icon avatar CSS*/
.icon .bi.bi-person {
     padding-right: 20px;
}
/* icon mask CSS*/
.icon  .bi.bi-bookmark-plus-fill{
     padding-right: 20px;
}
/* icon cart CSS*/
.icon  .bi.bi-cart4{
     padding-left: 10px;
}
.icon .bi.bi-person:hover{
    color:#0a58ca;
}
.icon .bi.bi-cart4:hover {
    color:#0a58ca;
}
.icon .bi.bi-bookmark-plus-fill:hover {
    color:#0a58ca;
}
.toppic-bottom li {
    display: block;
    margin-right: 10px;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 220px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* Title MainBody CSS */
.container h1 {
font-size: 25px;
color: #333;
margin: 20px 20px;
}
.container-left{
margin: 20px 50px;
}
.container-left h4 {
    font-size: 15px;
    color: #0a58ca;
    font-weight: 700;
}
span{
    opacity: 0.5;
}
/* gallery box CSS */
.gallery {
    border: 2px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 300px;
    background-color: #fff;
}
.m-body-7{
    margin: 0 70px;
}
.m-body-20{
    margin: 0 200px;
}
.m-body-5{
    margin: 0 50px;
}
.gallery button:hover {
transform: scale(1.1);
}

.gallery img {
max-width: 100%;
height: auto;
display: block;
transition: transform 0.4s, opacity 0.5s;
}

.gallery img:hover {
transform: scale(1.1);
opacity: 0.8;
}

.gallery p {
margin-top: 5px;
}

.gallery button {
margin-top: 10px;
padding: 5px 10px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.5s;
}

.gallery button:hover {
background-color: #0056b3;
}

button[type="submit"] {
background-color: #0056b3;
color: white;
padding: 12px 24px;
border: 1px solid #000;
border-radius: 4px;
cursor: pointer;
}
button[type="submit"]:hover {
background-color: #fff;
color: #0056b3;
}
.gallery .desc {
text-align: center;
font-size: 14px;
font-weight: bold;
margin-top: 10px;
}

.gallery {
position: relative;
}

.gallery i {
position: absolute;
top: 0;
right: 0;
margin: 10px;
font-size: 24px;
color: #007bff;
cursor: pointer;
}
.gallery button:focus {
outline: none;
}

.gallery i:hover{
color:rgb(244, 45, 45);
}


/* ------ Text Bottom Main CSS --------*/
.img-banner{
    margin: 20px auto;
}
.txt-e{
    display: block;
}
.info{
    float: left;
    width: 50%;
    padding-left: 80px;
}
.info h3{
    font-size: 18px;
    font-weight: bold;
    padding: 20 auto 10px;
}
.info p{
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
}
.info a{
    color: #0a58ca;
}
.link-prod{
    width: 50%;
    float: left;
    padding-left: 140px;
    padding-top: 40px;
}
.link-prod ul li{
    list-style: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
}
.link-prod a{
    color: #000;
}
.link-prod a:hover{
    color: #0a58ca;
}
.footer{
    display: block;
    float: left;
    width: 100%;
    padding-top: 60px;
}

/* ------ Footer-Box CSS --------*/
.footer .footer-row{
    margin-bottom: 30px;
}
.footer .footer-box{
    width: 250px;
    height: 100px;
    background-color: #000;
    margin: 0 5px;
    border-radius: 3px;
    text-align: center;
    opacity: 0.8;
    padding: 20px;
}
.footer .footer-box a{
    color: #fff;
    text-decoration: none;
}
.footer .footer-box:hover{
    opacity: 1;
}
.footer .footer-box h4{
    font-size: 14px;
}
.footer .footer-box span{
    font-size: 12px;
}
.footer-nav-left, .footer-nav-right ul li{
    float: left;
}
.footer-nav-left ul li a{
    text-decoration: none;
    font-size: 12px;
    list-style-type: none;
}
.footer-row hr{
    width: 100%;
}

/* ------ Footer-Bottom CSS ---- */
.footer__bottom {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.footer__bottom-list {
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.footer__bottom-list li{
    border: none;
    font-size: 13px;
    color: #000;
}
.footer__bottom-list li a{
    text-decoration: none;
    font-size: 13px;
    color: #000;
}
.footer__bottom-list li a:hover{
    color: #0a58ca;
    text-decoration: underline;
}

.footer__bottom-list >li {
    margin: 0 6px;
}

.footer__bottom-icon-social {
    font-size: 40px;
}
.footer__bottom-icon-social a{
    color: #000;
    margin: 10px;
}
.footer__bottom-icon-social a:hover{
    color: #0a58ca;
}